.Sidebar{
    background-color: var(--slack-color);
    border-top: 1px solid #49274b;
    max-width: 260px;
    color: white;
    flex: 0.3;
}

.Sidebar hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b
}

.Sidebar-header{
    display: flex;
    border-bottom: 1px solid #49274b;
    padding-bottom: 10px; 
    padding: 13px;

}
.Sidebar-haeder-info{
    flex: 1;
}

.Sidebar-header-info > h2{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}
.Sidebar-header-info > h3{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.Sidebar-header-info > h3 > .MuiSvgIcon-root{
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;

}

.Sidebar-header > .MuiSvgIcon-root{
    padding: 8px;
    margin-left: 90px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
}